.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    border: 1px gray solid;
    background-color: #FFFFFF;
}

.btn-num {
    width: 112px;
    height: 94px;
    font-weight: 1000;
    color: #000000;
}

.btn-act {
    width: 120px;
    height: 94px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #9C001A;
}